{# templates/registration/verification_required.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Email Verification Required{% endblock %}

{% block body %}
    <h1>Email Verification Required</h1>
    <p>Please check your email and verify your account to continue.</p>
{% endblock %}
