{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    {% if user_name %}
        <h1>Welcome, {{ user_name }}</h1>
    {% else %}
        <h1>Welcome</h1>
    {% endif %}
{% endblock %}
