@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    /* HOME PAGE  */
    /* text neon */
    .neon {
      @apply text-white;
      text-shadow:
        0 0 20px #fff,
        0 0 0px #fff;
    }

    /* button neon  */
    .button-neon {
        @apply text-white border border-white bg-[#d9d9d91A];
        box-shadow: 0 0 5px #fff, 0 0 5px #fff inset;
        transition: all 0.5s ease;

    }
    .button-neon:hover {
        text-shadow:
          0 0 5px rgba(255, 255, 255, 0.8),
          0 0 10px rgba(255, 255, 255, 0.6),
          0 0 15px rgba(255, 255, 255, 0.4),
          0 0 20px rgba(255, 255, 255, 0.8),
          0 0 30px rgba(255, 255, 255, 0.6),
          0 0 40px rgba(255, 255, 255, 0.4),
          0 0 50px rgba(255, 255, 255, 0.3),
          0 0 55px rgba(255, 255, 255, 0.2);
    }
      
    /* trailers buttons neon  */
    .trailer__button-neon {
        @apply text-[#51869D] border border-[#234A6A] bg-[#234A6A24];
        box-shadow: 0 0 5px #234A6A, 0 0 5px #234A6A inset;
        /* transition: all 0.5s ease; */
        position: relative;
        z-index: 1;
    }
    /* all for the hover and active effects  */
    .trailer__button-neon:after {
        position: absolute;
        content: "";
        width: 0;
        height: 100%;
        top: 0;
        right: 0;
        z-index: -1;
        background: #51869D;
        box-shadow:
        0 0 20px  #51869D;
        transition: all 0.3s ease;
    }
    .trailer__button-neon:hover {
        color: #fff;
    }
    .trailer__button-neon:hover:after {
        left: 0;
        width: 100%;
    }
    .trailer__button-neon:active {
        top: 2px;
    }
    
    /* the buttons texts neon */
    .trailer__button-text-neon {
        color: #51869D;
        text-shadow: 0 0 5px #51869D, 0 0 10px #51869D;
    }
    /* the titles borders neon  */
    .trailer__title-neon {
    @apply border-b-2 border-[#234A6A] rounded-sm;
    position: relative;
    }
    .trailer__title-neon::after {
    content: '';
    position: absolute;
    bottom: -2px; /* Adjust based on the border thickness */
    left: 0;
    width: 100%;
    height: 2px; /* Match the border thickness */
    box-shadow: 0 0 10px #234A6A, 0 0 20px #234A6A, 0 0 30px #234A6A, 0 0 40px #234A6A, 0 0 45px #234A6A, 0 0 55px #234A6A, 0 0 65px #234A6A;
    }

    /* sign in button in trailer section  */
    .signin-button-neon {
        @apply text-[#fff] border border-[#fff] bg-[#ffffff24];
        box-shadow: 0 0 5px #fff, 0 0 5px #fff inset;
        /* transition: all 0.5s ease; */
        position: relative;
        z-index: 1;
    }
    /* all for the hover and active effects  */
    .signin-button-neon:after {
        position: absolute;
        content: "";
        width: 0;
        height: 100%;
        top: 0;
        right: 0;
        z-index: -1;
        background: #fff;
        box-shadow:
        0 0 20px  #fff;
        transition: all 0.3s ease;
    }
    .signin-button-neon:hover {
        color: #234A6A;
    }
    .signin-button-neon:hover:after {
        left: 0;
        width: 100%;
    }
    .signin-button-neon:active {
        top: 2px;
    }
    /* the buttons texts neon */
    .signin-button-text-neon {
        color: #fff;
        text-shadow: 0 0 5px #fff, 0 0 10px #fff;
    }

    /* ARTICLE PAGE  */
    
    /* filter buttons  */
    .article__filter-button {
        @apply py-2 px-8 border-2 border-[#282B60] rounded-3xl text-white text-sm bg-[#282B6066];
        box-shadow: 0 0 5px #282B60, 0 0 5px #282B60, 0 0 10px #282B60, 0 0 20px #282B60, 0 0 30px #282B60 inset;
        transition: all 0.5s ease;

    }
    
}
  

