{% extends 'base.html.twig' %}

{% block body %}

	<section
		class="px-80 py-40" id="articlepage__singlepage">
		{# container #}
		<div class="flex flex-wrap justify-center content-center ">
			{# {% for article in article  %} #}
				<div class="flex flex-col flex-wrap content-center justify-center">
					<h3 class="capitalize">{{article.title}}</h3>

					<div class="flex flex-col flex-wrap content-center justify-center">
						<div class="w-2/3">
							{% for file in article.fileId %}
								<img src="{{ asset('assets/images/' ~ file.url) }}" alt="">
							{% endfor %}
						</div>
						<div>
                        {% for tag in tags %}
                            <p>{{tag.tagName}}</p>
                        {% endfor %}
							<p>
								{{article.content}}
							</p>
						</div>
					</div>
				</div>
			{# {% endfor %} #}
		</div>
	</section>


{% endblock %}
